*{
  transition: 0.2s;
}

.alert{
  background: #F0E8EF;
}

.navbar{
  background: #D0610B;
}

.navbar-light{
  background: #D0610B !important
}

.alert-secondary{
  background: #D0610B;
}

.color{
  background: #172E4F;
}

.navbar-brand{
  font-size: 15px;
}

.number{
  color: white;
}

.icone{
  margin-left: 5px;
  width: 28px;
}

.navbar-nav{
  align-items: flex-end;
}
.fa-phone-alt:before{
  margin-right: 5px;
}

.contato{
  display: flex;
  justify-content: space-around;
  align-items: center;
}



@media (max-width: 767px) {
  .icone{
    width: 35px;
  }  
  .row>*{
    width: 50%;
  }
  .card-text{
    font-size: 13px;
  }

}